[submodule "ditto"]
	path = ditto
	url = git@github.com:roamlab/ditto.git
	branch = sharpa
[submodule "sharpa_controller"]
	path = sharpa_controller
	url = git@github.com:joaquin-ps/sharpa_controller.git
